.root-pane {
    -fx-background-color: #0E0F1A;
}

.card {
    -fx-background-color: #1A1B27;
    -fx-background-radius: 18;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.30), 20, 0.3, 0, 6);
}

.title {
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.yellow-button {
    -fx-background-color: #F1C40F;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 14;
    -fx-padding: 12 28;
}

.yellow-button:hover {
    -fx-background-color: #FFD43B;
}

.small-text {
    -fx-text-fill: #CFCFCF;
    -fx-font-size: 14px;
}
